body {
    padding: auto;
    line-height: 1.2;
    position: relative;
    width: 750px;
    height: 100%;
    margin: 2% auto;
}

.text {
    font-style: italic;
    font-size: 14pt;
    text-align: center;
}

.bold {
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
}

p {
    margin: 10px 0px;
}

p.one {
    font-style: italic;
    text-align: center;
}

p.three {
    font-weight: bold;
    text-align: left;
}

p.two {
    font-style: italic;
    text-align: right;
}

p.four {
    font-style: italic;
    font-weight: bold;
}

span.underline {
    text-decoration: underline;
    }

span.underline_two {
    text-decoration: underline;
    font-style: italic;
}

span.bold {
    font-weight: bold;
}

.ris1 {
    float: left;
    padding: 15px 10px 15px 0px;
}

.ris2 {
    text-align: center;
padding: 20px;
}

ul {
    list-style-type: disc;
    margin-left: 3%;
}
ol {
    list-style-type: decimal;
    margin-left: 3%;
}

